.admin-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-main {
  flex: 1;
  background-color: #fff;
}

.admin-slider {
  padding-top: 1rem;
}

.admin-content {
  min-height: 75vh;
  padding: 1rem;
}
