@import "../../App.scss";

.home {
  background-color: $appBackgroundColor;
  color: $appFontColor;
}
.title-white {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.title-blue {
  font-size: 48px;
  font-weight: bold;
  color: #0173bb;
}

.more-btn {
  background-color: #0173bb;
  border: #0173bb;
}
