$appBackgroundColor: #101528;
$appFontColor: aliceblue;

.margin-1rem {
  margin: 1rem;
}

.padding-1rem {
  padding: 1rem;
}

.center-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-top-minus-1rem {
  margin-top: -1rem;
}

.margin-top-minus-0-5rem {
  margin-top: -0.5rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}